<div class="screen container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-7 offset-1">
            <p>Welcome to <strong>VAXCONNECT</strong></p>
            <h1>Log in</h1>
        </div>
        <div class="col-4">
            <p style="margin-bottom: 0; color: #8D8D8D">No Account?</p>
            <p>Sign up</p>
        </div>
        <button class="col-10 offset-1 button">
            <img src="assets/img/g.png">
            Sign up with Google
        </button>
        <form class="col-10 offset-1">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username or email address">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="button-submit">Log in</button>
          </form>
    </div>
    
</div>
