<div class="card">
  <h5 class="card-header row">
    <h2 class="col-8">{{vacune?.name}}</h2>
    <div class="col-4">
      <button class="btn btn-danger" (click)="deleteModal()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path
            d="M5.5 1a1 1 0 0 1 1 1v1h2V2a1 1 0 0 1 2 0v1h1a1 1 0 0 1 0 2h-1v9a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 0 1 0-2h1V2a1 1 0 0 1 1-1h2zM2.879 6H13.12l-.25 9a1 1 0 0 1-1 1H3.379a1 1 0 0 1-1-1L2.879 6zm3.879-2h2v9H6.758V4zm3 0h2v9h-2V4z" />
        </svg></button>
      <button class="btn btn-danger" (click)="editModal()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path
            d="M12.854 1.146a.5.5 0 0 1 .353-.147l2.5-.5a.5.5 0 0 1 .5.5v2.5a.5.5 0 0 1-.146.354l-9 9a.5.5 0 0 1-.707 0l-2.5-2.5a.5.5 0 0 1 0-.707l9-9zM14 2.293l-1.646 1.647-9 9L2 11.707V14h2.293l9-9L14 2.293z" />
          <path fill-rule="evenodd"
            d="M13.354 3.646a.5.5 0 0 1 0 .708L3.707 14H2v-1.707l9.646-9.647a.5.5 0 0 1 .708 0z" />
        </svg></button>
    </div>
  </h5>
  <div class="card-body">
    <p class="card-text">{{vacune?.description}}</p>
  </div>
</div>