<div class="w-50">
    <table class="table table-bordered w-50">
        
        <thead >
          <tr >
            <th class="bg-primary  text-white" scope="col">Last administrated vaccines</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Mark</td>
           
          </tr>
          <tr>
            
            <td>Jacob</td>
          
          </tr>
          <tr>
           
            <td>Larry</td>
           
          </tr>
        </tbody>
      </table>
</div>